In [2]:
favorite_number = 42
n = favorite_number + 7

In [3]:
x = favorite_number + n
x

91

In [10]:
# Single = is the assignment operator
# ASSIGNMENT is a a spell
# Assigment evaluates the values on the right hand side of the single equal sign
# Then the variable name on the left GETs that value
a = 5
b = 3 * a + x * a**n
b

1616484723854227922856807708740234390

In [ ]:
# Single equals is not a comparison...
4 = 4

## Boolean Operators Return a Boolean (True/False)

In [12]:
# Double equals is the comparison operator
a == 5

True

In [13]:
a == n

False

In [14]:
# String of "2" == 2, why is this False?
"2" == 2

False

In [19]:
# 2 == 2.0
2 == 2.0

True

In [20]:
# Ain't operator (The inequality operator)
2 != 3

True

In [21]:
a != n

True

In [23]:
# not switches our booleans
not True, not not True

(False, True)

In [24]:
None == False

False

In [25]:
bool(None)

False

In [26]:
bool(0)

False

In [27]:
bool(1)

True

In [30]:
## AND and OR
good_with_pizza = False
good_with_salad = True

# ORs expand our options
# Hey, do you want pizza or salad?
good_with_pizza_or_salad = good_with_pizza or good_with_salad 
good_with_pizza_or_salad

True

In [32]:
# AND will limit our options
good_with_mushrooms = True
good_with_pineapple = False

# All values involved with AND need to be true to produce a true
good_with_both_pina_and_mushroom = good_with_mushrooms and good_with_pineapple
good_with_both_pina_and_mushroom

False

In [33]:
doing_python_right_now = True
on_mars_right_now = False
right_here_now = True

In [34]:
doing_python_right_now and right_here_now

True

In [35]:
doing_python_right_now and on_mars_right_now

False

In [36]:
on_mars_right_now or doing_python_right_now

True

In [37]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [38]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [40]:
# Parentheses will help us clarify our thinking and order of operations for combining boolean expression
is_admin = True
is_author = False
is_logged_in = True

# In order for someone to edit a news article, users need to be logged in AND either an admin or that article's author
can_edit = is_logged_in and (is_author or is_admin)
can_edit

True

## More shortcuts:
- option and mouse drag creates multiple cursors in the same veriticle space

## Strings
- can start and end with either single quote or double quote, but be consistent
- we can also use triple quoted strings if our string has lots of apostrophes or quotes

In [41]:
'once upon a midnight dreary'

'once upon a midnight dreary'

In [42]:
"once upon a midnight dreary"

'once upon a midnight dreary'

In [43]:
"It's all a matter of taste"

"It's all a matter of taste"

In [45]:
# You might want to use the escape character to help with this:
# 'You miss 100% of the shots you don't take' produces a syntax error
print("You miss 100% of the shots you don't take")
print('You miss 100% of the shots you don\'t take')

You miss 100% of the shots you don't take

In [49]:
"""
'"You miss 100% of the shots you don't take" - Wayne Gretsky' - Michael Scott
"""

'\n\'"You miss 100% of the shots you don\'t take" - Wayne Gretsky\' - Michael Scott\n'

In [53]:
print("\n this is the middle \n\n\n\n\n")

 this is the middle

In [55]:
# More string operations and operators
"con" + "cat" + "e" + "nation"

'concatenation'

In [56]:
"happy" * 3

'happyhappyhappy'

In [57]:
# + and * are overloaded (they have a few jobs), but forward slash is only division
# type error
"mango" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [58]:
# Check for membership of a string in a larger string
"a" in "banana"

True

In [66]:
favorite_number = 8
# If we want to output "My favorite number is 8"
# This is called string interpolation
print("My favorite number is", favorite_number)
print("My favorite number is " + str(favorite_number))

# Format string syntax:
print(f"My favorite number is {favorite_number}")
print(f"My favorite number ${favorite_number} times two is ${favorite_number * 2}")

My favorite number is 8
My favorite number is 8
My favorite number is 8
My favorite number $8 times two is $16

In [67]:
# String methods
# A method is a function that lives on an object
location = "San Antonio"

In [68]:
# Method syntax
# object.method()
location.upper()

'SAN ANTONIO'

In [69]:
# string methods do not mutate the original string
# python strings are immutable
location

'San Antonio'

In [71]:
location.lower()

'san antonio'

In [72]:
location.swapcase()

'sAN aNTONIO'

In [75]:
ways_to_type_tx = [
    "Texas",
    "TX",
    "texas",
    "TEXAS"
]

ways_to_type_tx

['Texas', 'TX', 'texas', 'TEXAS']

In [79]:
fruit = "banana"
fruit.count("a")

3

In [88]:
string = "      white space characters are things like spaces, new lines \n, and tab characters.      "
print(string.strip())

white space characters are things like spaces, new lines
, and tab characters.

In [82]:
string.isnumeric()

False

In [83]:
# string.split(delimiter)
"b a n a n a".split(" ")

['b', 'a', 'n', 'a', 'n', 'a']

In [91]:
# delimiter.join(list)
print("\n".join(['b', 'a', 'n', 'a', 'n', 'a']))

b
a
n
a
n
a

## Lists!
- Lists are created with square brackets to open and close
- Lists can hold any data type
- Lists are finite, but can hold as many items as your computer has memory

In [93]:
toppings = [
    "mushrooms",
    "pineapple",
    "green onion"
]

toppings

['mushrooms', 'pineapple', 'green onion']

In [95]:
numbers = [2, 1, 0, 2, 2, 6, 3, 2, 3, 2]
numbers

[2, 1, 0, 2, 2, 6, 3, 2, 3, 2]

In [96]:
# We can use + 
numbers + toppings

[2, 1, 0, 2, 2, 6, 3, 2, 3, 2, 'mushrooms', 'pineapple', 'green onion']

In [97]:
# + doesn't change the original list
toppings + toppings

['mushrooms',
 'pineapple',
 'green onion',
 'mushrooms',
 'pineapple',
 'green onion']

In [98]:
# in Jupyter notebooks, create a variable in the cell above
# Then append a period
# then hit TAB
toppings.count("anchovies")

0

In [102]:
# Like strings, we can use IN
"pineapple" in toppings

True

In [103]:
13 in numbers

False

In [99]:
# List methods are mutating the original list
toppings.extend(["pepperoni", "olives"])

In [101]:
toppings

['mushrooms', 'pineapple', 'green onion', 'pepperoni', 'olives']

In [104]:
# Reverse mutates the original list
toppings.reverse()
toppings

['olives', 'pepperoni', 'green onion', 'pineapple', 'mushrooms']

In [105]:
toppings.sort()
toppings

['green onion', 'mushrooms', 'olives', 'pepperoni', 'pineapple']

In [106]:
# Slicing Syntax works on strings and lists in the same way
# Slicing gives us back a copy of a sequence
"banana"[0:1] # [start:end]

'b'

In [107]:
"banana"[0:3]

'ban'

In [108]:
"banana"[2:]

'nana'

In [109]:
"banana"[:-1]

'banan'

In [110]:
beatles = ["john", "george", "ringo", "paul"]
beatles[2:]

['ringo', 'paul']

In [112]:
beatles.append("buckethead")
beatles

['john', 'george', 'ringo', 'paul', 'buckethead']

In [113]:
# Indexing is super powerful
# Indexing is how we get a value from a list given its numeric positional index
beatles[0]

'john'

In [114]:
"john"[0]

'j'

In [115]:
beatles[0][0]

'j'

In [117]:
beatles[-2]

'paul'

In [118]:
# 2 dimensional data w/ lists of lists
# 2 dimensional data = spreadsheet
[
    [1, 2, 3],
    [4, 4, 4],
    [5, 5, 5]
]

[[1, 2, 3], [4, 4, 4], [5, 5, 5]]

In [121]:
# List Comprehensions
# Take a list of numbers and add 1 to all of the numbers in that list
# List comprehension returns a list (and it operates on a list, too)
# Habit: name list variables singular
# Habit: so the singular variable we create makes sense
numbers = [1, 2, 3, 4, 5]

[n + 1 for n in numbers]

[2, 3, 4, 5, 6]

In [123]:
# Add 10 to the even numbers
[n + 10 for n in numbers if n % 2 == 0]

[12, 14]

In [127]:
# Add 10 to even numbers, don't do squat to odd numbers
# [output if condition else output for l in list]

[n + 10 if n % 2 == 0 else n for n in numbers]

[1, 12, 3, 14, 5]

In [124]:
# Without a list comprehension, we'd need to do the following:
numbers_plus_one = []
for n in numbers:
    numbers_plus_one.append(n + 1)
numbers_plus_one

[2, 3, 4, 5, 6]

In [125]:
type(numbers_plus_one)

list

In [126]:
type([n + 1 for n in numbers])

list

## Dictionaries!
- Dictionaries are labeled lists, like a nutrional facts table 
- Dictionaries are composed of key -> value pairs
- Think of each key/value pair as its own variable

In [128]:
# curly braces open, curly braces to close
# each key-value pair is "string": value
# each pair is separated by a comma, like a string
# This syntax is the dictionary literal syntax
student = {
    "first_name": "Jane",
    "favorite_language": "Python",
    "proficiencies": ["SQL", "Python", "Machine Learning"]
}

In [129]:
# How do we get stuff from the list?
# We don't have numeric index, but we do have the key, which is the label
student["first_name"]

'Jane'

In [130]:
# dictionary_variable_name["key"] gets/shows us the value that key points to:
student["favorite_language"]

'Python'

In [131]:
student["proficiencies"]

['SQL', 'Python', 'Machine Learning']

In [132]:
# What if Jane changes her mind that SQL is her favorite?
student["favorite_language"] = "SQL"
student

{'first_name': 'Jane',
 'favorite_language': 'SQL',
 'proficiencies': ['SQL', 'Python', 'Machine Learning']}

In [134]:
student.get("favorite_language")

'SQL'

In [135]:
student.get("favorite_language") == student["favorite_language"]

True

In [137]:
# Say we have a dictionary and want to add another key/value pair?
student["favorite_number"] = 5
student

{'first_name': 'Jane',
 'favorite_language': 'SQL',
 'proficiencies': ['SQL', 'Python', 'Machine Learning'],
 'favorite_number': 5}

In [138]:
student.keys()

dict_keys(['first_name', 'favorite_language', 'proficiencies', 'favorite_number'])

In [139]:
student.values()

dict_values(['Jane', 'SQL', ['SQL', 'Python', 'Machine Learning'], 5])

In [167]:
# Another way to create a dictionary from scratch (instead of the dictionary literal syntax from above)
book = {} # create an empty dictionary
book["title"] = "Practical Statistics for Data Scientists" # specify new keys w/ new values
book["ISBN"] = 3456789
book["publisher"] = "O'Reilly"
book

{'title': 'Practical Statistics for Data Scientists',
 'ISBN': 3456789,
 'publisher': "O'Reilly"}

In [168]:
book["topics"] = ["Statistics", "Python", "R", "Data Science"]
book

{'title': 'Practical Statistics for Data Scientists',
 'ISBN': 3456789,
 'publisher': "O'Reilly",
 'topics': ['Statistics', 'Python', 'R', 'Data Science']}

In [169]:
# Lists of dictionaries are 2 dimensional data
books = [
    book,
    {
        "title": "Introduction to Applied Linear Algebra",
        "ISBN": 987654,
        "publisher": "Cambridge University Press",
        "topics": ["Linear Algebra", "Math"]
    }
]

books

[{'title': 'Practical Statistics for Data Scientists',
  'ISBN': 3456789,
  'publisher': "O'Reilly",
  'topics': ['Statistics', 'Python', 'R', 'Data Science']},
 {'title': 'Introduction to Applied Linear Algebra',
  'ISBN': 987654,
  'publisher': 'Cambridge University Press',
  'topics': ['Linear Algebra', 'Math']}]

In [170]:
["a", "b", "c"][0]

'a'

In [171]:
books[0]

{'title': 'Practical Statistics for Data Scientists',
 'ISBN': 3456789,
 'publisher': "O'Reilly",
 'topics': ['Statistics', 'Python', 'R', 'Data Science']}

In [172]:
# Get the title of the first book from the list of books
books[0]["title"]

'Practical Statistics for Data Scientists'

In [173]:
# Get all the topics from the second book on the list
second_book = books[1]
second_book["topics"]

['Linear Algebra', 'Math']

In [174]:
# Principle behind what we're seeing with combining list index syntax w/ dictionary/key syntax
# is substitution

In [175]:
# The ISNB number for each of our books:
for book in books:
    print(book["ISBN"])

3456789
987654

In [176]:
for book in books:
    print(book.keys())

dict_keys(['title', 'ISBN', 'publisher', 'topics'])
dict_keys(['title', 'ISBN', 'publisher', 'topics'])